/*******GENERAL********/
.medd-blue-text {
  color: #15a6ff !important;
}
.medd-blue {
  background-color: #15a6ff !important;
}
.bold {
  font-weight: bold;
}
.strikethrough {
  text-decoration: line-through;
}
.inline-block {
  display: inline-block !important;
}
.capitalize {
  text-transform: capitalize;
}
.font-24 {
  font-size: 24px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-8 {
  font-size: 8px !important;
}
.font-inherit {
  font-size: inherit;
}
.height-400 {
  height: 400px !important;
}
.line-height-2 {
  line-height: 2;
}
.line-height-2_5 {
  line-height: 2.5;
}
.circular-border {
  border: 1px solid;
  border-color: #a8a8a8;
  border-radius: 2rem;
  padding: 5px 10px;
  text-align: center;
  margin-right: 6px;
}
.activator {
  cursor: pointer !important;
}
th,
td {
  padding: 5px;
}
i.material-icons {
  line-height: inherit;
  height: inherit;
  vertical-align: middle;
}
section {
  min-height: 600px;
}
.container-80 {
  width: 80%;
}
/*For Forms*/
.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #15a6ff !important;
  -webkit-box-shadow: 0 1px 0 0 #15a6ff !important;
  -moz-box-shadow: 0 1px 0 0 #15a6ff !important;
  box-shadow: 0 1px 0 0 #15a6ff !important;
}
.input-field .prefix.active {
  color: #15a6ff !important;
}
.input-field input:focus:not([readonly]) + label {
  color: #15a6ff;
}
.input-field input[type="radio"]:checked + label:after {
  border: 2px solid #15a6ff;
  background-color: #15a6ff;
}
/*******SNIPPETS********/
.preloader_custom {
  width: 100%;
  height: 0.25rem;
  /*display: none;*/
  background-color: rgba(63, 81, 181, 0.3);
  z-index: 10001;
  position: fixed;
  top: 0;
}
.preloader_custom .preloader_bar {
  width: 0;
  height: 0.25rem;
  top: 0;
  margin: auto;
  background-color: #15a6ff;
  -webkit-animation: loading 2s ease-in-out 0s infinite;
  animation: loading 2s ease-in-out 0s infinite;
}
/*******NAV BAR********/
.modal-city .modal-footer {
  text-align: center;
}
.modal-city .modal-footer .btn-flat {
  float: none !important;
}
.modal-city .modal-footer .btn {
  color: #15a6ff;
  background-color: transparent;
}
.modal-city .modal-footer .btn:hover {
  color: #fff;
  background-color: #15a6ff;
}
nav .nav-wrapper {
  padding: 0 60px;
}
nav .nav-wrapper .brand-logo img {
  height: 25px;
}
nav .nav-wrapper .city-selector {
  position: absolute;
  display: inline-block;
  padding: 0;
  left: 12rem;
  width: 16rem;
}
nav .nav-wrapper .city-selector .city-selected {
  color: #15a6ff;
  border: 1px solid #15a6ff;
  border-radius: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  -ms-transition: all 400ms;
  transition: all 400ms;
}
nav .nav-wrapper .city-selector .city-selected:hover {
  color: #fff;
  background-color: #15a6ff;
}
nav .nav-wrapper .google-play img {
  height: 40px;
}
nav .nav-wrapper img {
  vertical-align: middle;
}
nav ul li {
  background-color: transparent;
}
nav ul li a {
  color: #a8a8a8;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  -ms-transition: all 400ms;
  transition: all 400ms;
}
nav ul li:hover {
  background-color: transparent;
}
nav ul li:hover a {
  color: #15a6ff;
}
/*******FOOTER********/
footer .footer-nav li {
  line-height: 2rem;
}
footer .footer-nav a {
  color: #fff;
}
footer .footer-nav input[type=email]:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff;
}
footer .copyright {
  text-align: center;
  /*padding: 30px 0;*/
  padding-top: 10px;
  background: #000;
  color: #fff;
  font-weight: lighter;
  display: block;
  margin: 0px 0 0 0;
}
footer .copyright a {
  font-weight: bold;
  color: inherit;
}
footer .copyright .soc-list {
  margin: 0 0 10px 0;
}
footer .copyright .soc-list li {
  display: inline-block;
}
footer .copyright .soc-list .icon {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  background: none;
  margin: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
footer .copyright .soc-list li .icon:hover {
  background: #15a6ff;
}

/*******HEALTH PACKAGES********/
.healthPackage-card .card-content {
  height: 170px;
  padding: 15px 15px;
  cursor: pointer;
}
.healthPackage-card .card-content .card-title {
  line-height: 0px;
}
.healthPackage-card .card-action {
  height: 73px;
  padding: 10px 15px;
}
.healthPackage-card .card-action .btn {
  margin-top: 7px;
}
.healthPackage-card .card-action .btn a {
  margin: 0px;
}
.specs .material-icons {
  font-size: inherit;
}
.faq {
  margin: 10px 0;
}
.faq .question {
  font-weight: bold;
}
.faq .answer {
  font-size: 12px;
  color: #999;
}

@media only screen and (min-width: 992px) {
  .intro .container {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  nav .nav-wrapper .brand-logo {
    left: 25%;
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  nav .nav-wrapper .city-selector {
    left: 61%;
    /*				-webkit-transform: translateX(-90%);
				-moz-transform: translateX(-90%);
				-ms-transform: translateX(-90%);
				-o-transform: translateX(-90%);
				transform: translateX(-90%);*/
  }
  .intro .container {
    width: 85%;
  }
  .intro .intro-title {
    font-size: 32px;
  }
  .intro .intro-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .intro .bg-box {
    padding: 2rem 2rem;
  }
  .intro .container {
    width: 100%;
  }
  .intro .intro-title {
    font-size: 20px;
  }
  .intro .intro-text {
    font-size: 12px;
  }
  footer .footer-nav {
    padding-bottom: 30px;
    text-align: center;
  }
  .lab-card .card-content {
    height: 140px;
  }
}
